<ion-content class="page-content">
    <div *ngIf="tuple" class="page">
        <ion-grid class="page-grid">
            <ion-row class="title-row">
                <ion-col *ngIf="!showTupleNameInput" class="d-flex ion-align-items-center">
                    {{ tuple.name }}
                </ion-col>
                <ion-col *ngIf="showTupleNameInput" class="d-flex ion-align-items-center">
                    <input
                        #input
                        maxlength="20"
                        [disabled]="isUpdatingTupleName"
                        [value]="tuple.name"
                        [(ngModel)]="tupleNameInput"
                        (focusout)="handleInputElementFocusOut()"
                    />
                    <ion-button
                        class="icon-button save-button"
                        color="dark"
                        fill="clear"
                        [disabled]="isUpdatingTupleName || tupleNameInput === tuple.name"
                        (click)="updateTupleName()"
                    >
                        <ion-icon slot="icon-only" name="save"></ion-icon>
                    </ion-button>
                    <ion-button
                        class="icon-button"
                        color="dark"
                        fill="clear"
                        [disabled]="isUpdatingTupleName"
                        (click)="showTupleNameInput = false"
                    >
                        <ion-icon slot="icon-only" name="close"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col class="d-flex ion-align-items-center ion-justify-content-end">
                    <ion-button
                        [id]="'tuple-popover-trigger-' + tuple.id"
                        class="icon-button"
                        color="dark"
                        fill="clear"
                        [disabled]="isInputDisabled"
                    >
                        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
                    </ion-button>
                    <ion-popover
                        *ngIf="showTuplePopoverTrigger"
                        dismiss-on-select="true"
                        reference="trigger"
                        [trigger]="'tuple-popover-trigger-' + tuple.id"
                    >
                        <ng-template>
                            <ion-content>
                                <ion-item button="true" (click)="toggleTupleNameInput()">
                                    <ion-icon name="create"></ion-icon>
                                    <ion-label>Rename tuple</ion-label>
                                </ion-item>
                                <ion-item button="true" (click)="updateTupleType()">
                                    <ion-icon name="checkbox"></ion-icon>
                                    <ion-label>Toggle checkboxes</ion-label>
                                </ion-item>
                                <ion-item button="true" (click)="deleteTuple()">
                                    <ion-icon color="danger" name="trash"></ion-icon>
                                    <ion-label color="danger">Delete tuple</ion-label>
                                </ion-item>
                            </ion-content>
                        </ng-template>
                    </ion-popover>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <hr />
                </ion-col>
            </ion-row>
            <ion-row *ngIf="tuple.tupleItems.length > 0" id="tuple-list-row">
                <ion-col>
                    <ion-reorder-group
                        [disabled]="isInputDisabled"
                        (ionItemReorder)="handleTupleItemReorder($event)"
                    >
                        <ion-item
                            *ngFor="let tupleItem of tuple.tupleItems; let tupleItemIndex = index"
                        >
                            <ion-reorder
                                *ngIf="tuple.tupleItems.length > 1"
                                slot="start"
                                [ngClass]="{ 'checkbox-margin': isTupleTypeCheckbox }"
                            ></ion-reorder>
                            <ion-checkbox
                                *ngIf="isTupleTypeCheckbox"
                                [checked]="tupleItem.isChecked"
                                [disabled]="isInputDisabled || !isConnected"
                                (ionChange)="updateTupleItemChecked(tupleItemIndex)"
                            ></ion-checkbox>
                            <ion-label>
                                <span
                                    *ngIf="!showTupleItemNameInput(tupleItem)"
                                    class="d-flex ion-align-items-center name-input"
                                    [ngClass]="{
                                        disabled: isInputDisabled,
                                        'line-through': isTupleTypeCheckbox && tupleItem.isChecked
                                    }"
                                    (click)="toggleTupleItemNameInput(tupleItemIndex)"
                                >
                                    {{ tupleItem.name }}
                                </span>
                                <span
                                    *ngIf="showTupleItemNameInput(tupleItem)"
                                    class="d-flex ion-align-items-center"
                                >
                                    <input
                                        #input
                                        maxlength="20"
                                        [disabled]="isUpdatingTupleItemName"
                                        [value]="tupleItem.name"
                                        [(ngModel)]="tupleItemNameInput"
                                        (focusout)="handleInputElementFocusOut()"
                                    />
                                    <ion-button
                                        class="icon-button save-button"
                                        color="dark"
                                        fill="clear"
                                        [disabled]="
                                            isUpdatingTupleItemName ||
                                            tupleItemNameInput === tupleItem.name
                                        "
                                        (click)="updateTupleItemName(tupleItemIndex)"
                                    >
                                        <ion-icon slot="icon-only" name="save"></ion-icon>
                                    </ion-button>
                                    <ion-button
                                        class="icon-button"
                                        color="dark"
                                        fill="clear"
                                        [disabled]="isUpdatingTupleItemName"
                                        (click)="showTupleItemNameInputId = -1"
                                    >
                                        <ion-icon slot="icon-only" name="close"></ion-icon>
                                    </ion-button>
                                </span>
                            </ion-label>
                            <ion-button
                                [id]="'tuple-item-popover-trigger-' + tupleItem.id"
                                class="icon-button popover-trigger"
                                color="dark"
                                fill="clear"
                                [disabled]="isInputDisabled"
                            >
                                <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
                            </ion-button>
                            <ion-popover
                                *ngIf="showTupleItemPopoverTrigger(tupleItem.id)"
                                dismiss-on-select="true"
                                reference="trigger"
                                [trigger]="'tuple-item-popover-trigger-' + tupleItem.id"
                            >
                                <ng-template>
                                    <ion-content>
                                        <ion-item
                                            button="true"
                                            (click)="toggleTupleItemNameInput(tupleItemIndex)"
                                        >
                                            <ion-icon name="create"></ion-icon>
                                            <ion-label>Rename item</ion-label>
                                        </ion-item>
                                        <ion-item
                                            button="true"
                                            (click)="createTupleItem(tupleItem)"
                                        >
                                            <ion-icon name="add"></ion-icon>
                                            <ion-label>Add an item below</ion-label>
                                        </ion-item>
                                        <ion-item
                                            button="true"
                                            (click)="deleteTupleItem(tupleItem.id)"
                                        >
                                            <ion-icon color="danger" name="trash"></ion-icon>
                                            <ion-label color="danger">Delete item</ion-label>
                                        </ion-item>
                                    </ion-content>
                                </ng-template>
                            </ion-popover>
                        </ion-item>
                    </ion-reorder-group>
                </ion-col>
            </ion-row>
            <ion-row id="add-tuple-item-row">
                <ion-col>
                    <ion-button [disabled]="isInputDisabled" (click)="createTupleItem()">
                        <ion-icon slot="start" name="add"></ion-icon>
                        Add an item
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
