input {
    max-width: 184px;
}

#tuple-list-row {
    margin: -4px 0 16px;

    ion-item {
        --inner-padding-end: 0;

        ion-checkbox {
            margin: 0 12px 0 8px;
        }

        ion-label {
            z-index: 1000;
        }

        ion-reorder {
            margin: 0 8px 0 -8px;
            display: block !important;

            &.checkbox-margin {
                margin-right: 0;
            }
        }

        .popover-trigger {
            margin: 10px 0;
        }

        .tuple-item-popover-spinner {
            margin: 11px 3px 11px 0;
        }

        .tuple-item-checkbox-spinner {
            margin: 0 7px 0 3px;
        }
    }
}

#add-tuple-item-row {
    margin-top: 8px;

    ion-button {
        margin: 0;
    }
}

.line-through {
    text-decoration: line-through;
}

.name-input {
    width: fit-content;
    cursor: pointer;
}

.title-row span {
    font-size: 20px;
}
