ion-grid {
    padding: 8px !important;

    #title-row {
        ion-col,
        ion-col span {
            font-size: 20px;
        }

        ion-col:first-child {
            display: flex;
        }

        ion-col span {
            cursor: pointer;
        }

        .title-button {
            margin: 0;
            --padding-start: 8px;
            --padding-end: 8px;

            &#title-button-delete ion-spinner {
                margin-right: -4px;
            }

            &#title-button-save {
                margin-left: 8px;

                ion-spinner {
                    margin-left: -4px;
                    margin-right: -4px;
                }
            }

            ion-icon {
                font-size: 20px;
            }
        }
    }

    #add-tuple-item {
        width: 123px;
        margin: 0;
    }
}
