ion-header {
    ion-toolbar {
        padding: 0 0 0 8px;

        @media screen and (min-width: 768px) {
            padding: 0;
        }

        ion-menu-button {
            font-size: 32px;
        }

        ion-title {
            padding-left: 8px;
        }
    }
}

ion-label.active {
    text-decoration: underline;
}

ion-menu {
    ion-icon,
    ion-title {
        color: var(--ion-text-color);
    }

    ion-icon {
        margin: 0 16px;
    }
}

#loading ion-spinner {
    $spinner-size: 64px;
    height: $spinner-size;
    width: $spinner-size;
}

#disconnected {
    height: 100%;
    overflow-y: scroll;
}
