#loading ion-spinner {
    $spinner-size: 64px;
    height: $spinner-size;
    width: $spinner-size;
}

ion-header {
    ion-toolbar {
        padding: 0 8px 0 16px;

        ion-title {
            padding-left: 8px;
        }
    }
}

#disconnected ion-button {
    width: 100px;
}
