ion-header ion-toolbar {
    padding: 0 4px 0 8px;

    @media screen and (min-width: 768px) {
        padding: 0;
    }

    ion-img {
        $img-size: 40px;
        height: $img-size;
        width: $img-size;
    }

    ion-menu-button {
        font-size: 32px;
    }

    ion-title {
        padding-left: 8px;
    }
}

ion-footer ion-toolbar {
    padding: 0 8px 0 4px;

    @media screen and (min-width: 768px) {
        padding: 0;
    }

    ion-grid {
        padding: 0;

        .col-status {
            margin-bottom: -6px;

            @media screen and (min-width: 576px) {
                margin-bottom: 0;
            }
        }

        .connect-button {
            height: 20px;
            margin: -14px 0 0 0;
            --padding-start: 4px;
            --padding-end: 4px;
        }

        .connecting::after {
            width: 14px;
            text-align: left;
            display: inline-block;
            animation: dotty steps(1, end) 2s infinite;
            content: "";
        }

        @keyframes dotty {
            0% {
                content: "";
            }
            25% {
                content: ".";
            }
            50% {
                content: "..";
            }
            75% {
                content: "...";
            }
            100% {
                content: "";
            }
        }
    }
}

ion-menu {
    ion-icon,
    ion-title {
        color: var(--ion-text-color);
    }

    ion-icon {
        margin: 0 16px;
    }
}

#loading ion-spinner {
    $spinner-size: 64px;
    height: $spinner-size;
    width: $spinner-size;
}

#disconnected {
    height: 100%;
    overflow-y: scroll;
}

.badge {
    &.menu-badge {
        top: 9px;
        right: 4px;
    }

    &.menu-button-badge {
        top: 8px;
        left: 58px;
    }

    &.nav-button-badge {
        top: 0;
        right: 2px;
    }
}
