<ion-app *ngIf="loading" id="loading" class="ion-justify-content-center ion-align-items-center">
    <ion-spinner name="lines"></ion-spinner>
</ion-app>
<ion-app *ngIf="!loading">
    <ion-header>
        <ion-toolbar class="toolbar-header-footer">
            <ion-img slot="start" src="svg/flat-color-icons/todo_list.svg"></ion-img>
            <ion-title>Practical Tuples</ion-title>
            <ion-button *ngIf="user" slot="end" color="dark" fill="clear" routerLink="/">
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-label>User{{ user.id }}</ion-label>
            </ion-button>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-router-outlet *ngIf="connected"></ion-router-outlet>
        <div
            *ngIf="!connected"
            id="disconnected"
            class="page page-height-100 ion-justify-content-center ion-align-items-center ion-text-center"
        >
            You are not connected.<br />Please connect to continue.
            <ion-button class="ion-margin-top" [disabled]="connecting" (click)="connect()">
                <ion-label *ngIf="!connecting">Connect</ion-label>
                <ion-spinner *ngIf="connecting" name="lines"></ion-spinner>
            </ion-button>
        </div>
        <app-footer *ngIf="!connected"></app-footer>
    </ion-content>
</ion-app>
