.czrc
.editorconfig
.gitignore
.husky
.prettierignore
CHANGELOG.md
deploy.sh

backend/.env
backend/.gitignore
backend/coverage
backend/dist

frontend/.angular
frontend/.browserslistrc
frontend/.gitignore
frontend/dist
frontend/src/assets/*

frontend-original/.angular
frontend-original/.browserslistrc
frontend-original/.gitignore
frontend-original/dist
frontend-original/src/assets/*
