ion-card-title a,
#delete-button ion-icon {
    font-size: 20px;
}

ion-card-content {
    color: var(--ion-color-dark);
    font-size: 16px;

    ul {
        margin: 0;
        padding: 0 0 0 16px;
    }
}

#add-tuple {
    width: 135px;
    margin-left: 8px;
}

#delete-button {
    height: 30px;
    margin: 0 0 0 auto;
    --padding-start: 4px;
    --padding-end: 4px;

    ion-spinner {
        margin-right: -4px;
    }
}

#create-first-tuple-button {
    width: 230px;
}
