<div
    *ngIf="user && user.tuples.length === 0"
    class="page page-height-100 ion-justify-content-center ion-align-items-center"
>
    Welcome to Practical Tuples!
    <ion-button
        id="create-first-tuple-button"
        class="ion-margin-top"
        [disabled]="isCreatingTuple"
        (click)="createTuple()"
    >
        <ion-label *ngIf="!isCreatingTuple">Create your first Tuple</ion-label>
        <ion-spinner *ngIf="isCreatingTuple" name="lines"></ion-spinner>
    </ion-button>
</div>
<div *ngIf="user && user.tuples.length > 0" class="page">
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let tuple of user.tuples" size="12" size-sm="6">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title class="d-flex ion-align-items-center">
                            <a
                                [routerLink]="
                                    deletingTupleId === tuple.id ? '' : '/tuple/' + tuple.id
                                "
                                [ngClass]="{ disabled: deletingTupleId === tuple.id }"
                            >
                                {{ tuple.name }}
                            </a>
                            <ion-button
                                id="delete-button"
                                color="danger"
                                fill="clear"
                                [disabled]="isInputDisabled"
                                (click)="deleteTuple(tuple)"
                            >
                                <ion-icon
                                    *ngIf="deletingTupleId !== tuple.id"
                                    slot="icon-only"
                                    name="trash"
                                ></ion-icon>
                                <ion-spinner
                                    *ngIf="deletingTupleId === tuple.id"
                                    name="lines"
                                    color="danger"
                                ></ion-spinner>
                            </ion-button>
                        </ion-card-title>
                        <hr class="ion-no-margin ion-margin-top" />
                    </ion-card-header>
                    <ion-card-content>
                        <ul>
                            <li>Items: {{ getTupleItemsString(tuple) }}</li>
                            <li>Updated on: {{ tuple.updatedAt.toLocaleDateString() }}</li>
                            <li>Updated at: {{ tuple.updatedAt.toLocaleTimeString() }}</li>
                            <li>Created on: {{ tuple.createdAt.toLocaleDateString() }}</li>
                            <li>Created at: {{ tuple.createdAt.toLocaleTimeString() }}</li>
                        </ul>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button id="add-tuple" [disabled]="isInputDisabled" (click)="createTuple()">
                    <ion-icon *ngIf="!isCreatingTuple" slot="start" name="add"></ion-icon>
                    <ion-label *ngIf="!isCreatingTuple">Add Tuple</ion-label>
                    <ion-spinner *ngIf="isCreatingTuple" name="lines"></ion-spinner>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<app-footer></app-footer>
