<ion-content class="page-content">
    <div
        *ngIf="!user || isCreatingAccount"
        class="page ion-justify-content-center ion-align-items-center"
    >
        <ion-button
            *ngIf="!requestId || isUserConnecting"
            [disabled]="showProgressBar"
            (click)="createAccount()"
        >
            Create a tuple
        </ion-button>
        <ion-button
            *ngIf="requestId && !isUserConnecting"
            class="ion-margin-bottom"
            [disabled]="showProgressBar"
            (click)="refreshAccount()"
        >
            Refresh account
        </ion-button>
        <ion-button
            *ngIf="requestId && !isUserConnecting"
            id="create-new-account"
            color="primary"
            [disabled]="showProgressBar"
            (click)="confirmCreateNewAccount()"
        >
            Create a new account
        </ion-button>
        <ion-button
            id="add-device-modal-trigger"
            color="primary"
            fill="clear"
            [disabled]="showProgressBar"
        >
            Add this device to an existing account
        </ion-button>
        <ion-modal
            #addDeviceModal
            id="add-device-modal"
            reference="trigger"
            trigger="add-device-modal-trigger"
            (ionModalWillPresent)="handleIonModalWillPresent()"
            (ionModalDidDismiss)="addDeviceToAccountUsername = ''"
        >
            <ng-template>
                <ion-header translucent>
                    <ion-toolbar>
                        <ion-title>Add device to account</ion-title>
                        <ion-buttons slot="end">
                            <ion-button (click)="addDeviceModal.dismiss()">
                                <ion-icon slot="icon-only" name="close"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                    <ion-progress-bar
                        *ngIf="isAddingDeviceToAccount"
                        type="indeterminate"
                    ></ion-progress-bar>
                </ion-header>
                <ion-content fullscreen class="ion-padding">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="8">
                                <ion-input
                                    #input
                                    maxlength="9"
                                    placeholder="Input account username"
                                    [disabled]="isAddingDeviceToAccount"
                                    [(ngModel)]="addDeviceToAccountUsername"
                                ></ion-input>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button
                                    [disabled]="
                                        addDeviceToAccountUsername.length === 0 ||
                                        isAddingDeviceToAccount
                                    "
                                    (click)="addDeviceToAccount()"
                                >
                                    Submit
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-content>
            </ng-template>
        </ion-modal>
    </div>
    <div
        *ngIf="user && user.tuples.length === 0 && !isCreatingAccount"
        class="page ion-justify-content-center ion-align-items-center"
    >
        <ion-button [disabled]="showProgressBar" (click)="createTuple()">
            Create a tuple
        </ion-button>
    </div>
    <div *ngIf="user && user.tuples.length > 0 && !isCreatingAccount" class="page">
        <ion-grid class="page-grid">
            <ion-row class="tuples-row">
                <ion-col *ngFor="let tuple of user.tuples" size="12" size-sm="6">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title class="d-flex ion-align-items-center">
                                <a [routerLink]="'/tuple/' + tuple.id">
                                    {{ tuple.name }}
                                </a>
                                <ion-button
                                    class="delete-button"
                                    color="danger"
                                    fill="clear"
                                    [disabled]="showProgressBar"
                                    (click)="deleteTuple(tuple.id)"
                                >
                                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                                </ion-button>
                            </ion-card-title>
                            <ion-card-subtitle color="dark">
                                Items:
                                {{ getTupleItemsString(tuple) }}
                                <br />
                                Updated:
                                {{ getTupleUpdatedString(tuple) }}
                            </ion-card-subtitle>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button
                        id="create-tuple-button"
                        [disabled]="showProgressBar"
                        (click)="createTuple()"
                    >
                        <ion-icon slot="start" name="add"></ion-icon>
                        New tuple
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
