ion-card-title a {
    font-size: 20px;
}

ion-card-content {
    color: var(--ion-color-dark);
    font-size: 16px;

    ul {
        margin: 0;
        padding: 0 0 0 16px;
    }
}

#add-device-modal {
    min-width: 352px;
    --min-width: 352px;

    @media screen and (min-width: 768px) {
        --height: 196px;
        --width: 352px;
    }

    ion-input {
        margin-left: -6px;
    }

    ion-button {
        margin: 0;
    }
}

#create-tuple-button {
    margin-left: 4px;
}

.delete-button {
    height: 30px;
    margin: 0 0 0 auto;
    --padding-start: 4px;
    --padding-end: 4px;
}

.tuples-row ion-col {
    padding: 0;
}
