#devices-row,
#friends-row {
    > ion-col,
    ion-grid {
        padding: 0;

        #select-max-devices {
            width: 32px;
            margin: 0 8px 0 12px;
            padding: 0;
            display: inline-flex;
        }

        .section-title {
            font-size: 18px;
        }
    }
}

#devices-row {
    margin: 8px 0 16px;

    .device-row {
        padding: 0 8px;

        ion-col {
            min-height: 40px;
            padding: 0;

            .button-delete-device {
                margin: -12px -6px 0;
            }
        }
    }
}

#add-friend-row ion-button {
    margin: 0;
}
