<ion-toolbar class="toolbar-header-footer">
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="12" size-sm class="ion-text-center ion-text-sm-start">
                <ion-button color="dark" fill="clear">
                    <ion-icon slot="start" name="mail"></ion-icon>
                    <ion-label>Contact Us</ion-label>
                </ion-button>
            </ion-col>
            <ion-col class="ion-text-center ion-text-sm-end">
                &copy; Copyright {{ currentYear }} Dane Isburgh
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-toolbar>
